<% provide(:title, t(".title") ) %>
<!-- News -->
<div class="news">
  <div class="container">
    <div class="row">
      <!-- News Posts -->
      <div class="col-lg-9">
        <div class="news_posts">
          <!-- News Post -->
          <div class = "form_padding">
              <%= render @new_tours %>
            <%= will_paginate @new_tours %>
          </div>
          <!--/News Post -->
        </div>
      </div>
      <!-- Sidebar -->
      <div class="col-lg-3">
        <div class="sidebar">
          <div class="sidebar_search">
            <input type="search" class="sidebar_search_input" placeholder="Search">
          </div>

          <!-- Featured Posts -->
          <div class="sidebar_featured">

            <!-- Featured Post -->
            <div class="sidebar_featured_post">
              <div class="sidebar_featured_image"><img src="/assets/sidebar_featured_1.jpg" alt=""></div>
              <div class="sidebar_featured_title"><a href="#">Top destinations in Europe</a></div>
              <div class="sidebar_featured_meta">description
                <ul>
                  <li><a href="#">by admin</a></li>
                  <li>january 31, 2018</li>
                  <li><a href="#">3 comments</a></li>
                </ul>
              </div>
            </div>

            <!-- Featured Post -->
            <div class="sidebar_featured_post">
              <div class="sidebar_featured_image"><img src="/assets/sidebar_featured_2.jpg" alt=""></div>
              <div class="sidebar_featured_title"><a href="#">Best beaches in the world</a></div>
              <div class="sidebar_featured_meta">
                <ul>
                  <li><a href="#">by admin</a></li>
                  <li>january 31, 2018</li>
                  <li><a href="#">3 comments</a></li>
                </ul>
              </div>
            </div>

            <!-- Featured Post -->
            <div class="sidebar_featured_post">
              <div class="sidebar_featured_image"><img src="/assets/sidebar_featured_3.jpg" alt=""></div>
              <div class="sidebar_featured_title"><a href="#">Best beaches in the world</a></div>
              <div class="sidebar_featured_meta">
                <ul>
                  <li><a href="#">by admin</a></li>
                  <li>january 31, 2018</li>
                  <li><a href="#">3 comments</a></li>
                </ul>
              </div>
            </div>

          </div>

          <!-- Offers -->
          <div class="sidebar_offers">

            <!-- Offer -->
            <div class="sidebar_offer">
              <div class="sidebar_offer_background" style="background-image:url(/assets/offer_1.jpg)"></div>
              <div class="sidebar_offer_content">
                <div class="sidebar_offer_destination">bali</div>
                <div class="sidebar_offer_percent">38%</div>
                <div class="sidebar_offer_title">Last Minute Offer</div>
                <div class="sidebar_offer_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar sed mauris.</div>
                <div class="sidebar_offer_button"><a href="offers.html">See Offer</a></div>
              </div>
            </div>

            <!-- Offer -->
            <div class="sidebar_offer">
              <div class="sidebar_offer_background" style="background-image:url(/assets/offer_2.jpg)"></div>
              <div class="sidebar_offer_content">
                <div class="sidebar_offer_destination">bali</div>
                <div class="sidebar_offer_percent">25%</div>
                <div class="sidebar_offer_title">Last Minute Offer</div>
                <div class="sidebar_offer_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar sed mauris.</div>
                <div class="sidebar_offer_button"><a href="offers.html">See Offer</a></div>
              </div>
            </div>

          </div>

          <!-- Sidebar Quote -->
          <div class="sidebar_quote">
            <div class="quote_box"><img src="/assets/quote.png" alt=""></div>
            <div class="quote_text"><span>“Traveling</span> – it leaves you speechless, then turns you into a storyteller.”</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
