<% provide(:title, t(".title")) %>
<% provide(:btn_confirm, t(".btn_confirm")) %>
<div class="news">
  <div class="container">
    <div class="row">
      <!-- News Posts -->
      <div class="col-lg-9">
        <div class="news_posts">
          <!-- News Post -->
          <div class = "form_padding">
            <%= render "form_booking" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
