<% provide(:title, t(".title")) %>
<div class="news">
  <div class="container">
    <div class="row">
      <!-- News Posts -->
      <div class="col-lg-9">
        <div class="news_posts">
          <!-- News Post -->
          <div class = "form_padding">
            <div class="news_post">
              <%= render "form_booking" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
